.rootSection {
  width: calc(100% - 400px);
  margin: auto;
}

@media screen and (max-width: 980px) {
  .rootSection {
    width: 90%;
  }
}

.placesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-gap: 18px 18px;
  justify-content: center;
}